<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Cumulus_Nuget" value="https://pkgs.dev.azure.com/SWEngineering/Cumulus/_packaging/Cumulus_Nuget/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Cumulus_Nuget>
      <add key="Username" value="NUGET_USER" />
      <add key="ClearTextPassword" value="NUGET_PWD" />
    </Cumulus_Nuget>
  </packageSourceCredentials>
</configuration> 
